@import "./shared";

#wrapper {
  align-items: center;
  background: linear-gradient($lightBlue, #eee 40%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.todo-box {
  margin-top: 2rem;
  width: 70%;
}

.list {
  min-height: 200px;
}
